force-app/main/default/flows/validateComponentComplete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>validateComponentComplete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>validateComponentComplete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>summary</name>
        <label>summary</label>
        <locationX>623</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>validateDemo</name>
        <label>validateDemo</label>
        <locationX>425</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>summary</targetReference>
        </connector>
        <fields>
            <name>validateComponent</name>
            <extensionName>c:validateComponentComplete</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>companyName</name>
                <value>
                    <elementReference>companyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isCompany</name>
                <value>
                    <elementReference>isCompany</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactPerson</name>
                <value>
                    <elementReference>contactPerson</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>validateDemo</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>companyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactPerson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
